.questionStructure{
    border-radius: 1em;
    border-width: 1px;
    padding: 1rem;

    /* RGB & HSL params */
    --label-r: 128;
    --label-g: 128;
    --label-b: 128;
    --label-h: 0;
    --label-s: 0;
    --label-l: 50;

    --perceived-lightness: calc( ((var(--label-r) * 0.2126) + (var(--label-g) * 0.7152) + (var(--label-b) * 0.0722)) / 255 );
    --lightness-switch: max(0, min(calc((1/(var(--lightness-threshold) - var(--perceived-lightness)))), 1));
    --lightness-threshold: 0.6;
    --background-alpha: 0.18;
    --border-alpha: 0.3;
    --lighten-by: calc(((var(--lightness-threshold) - var(--perceived-lightness)) * 100) * var(--lightness-switch));
    color: hsl(var(--label-h), calc(var(--label-s) * 1%), calc((var(--label-l) + var(--lighten-by)) * 1%));
    background: rgba(var(--label-r), var(--label-g), var(--label-b), var(--background-alpha));
    border-image: linear-gradient(to bottom, rgba(0, 255, 0,var(--border-alpha)), rgba(0, 0, 255,var(--border-alpha))) 1;
}

.questionStructure h1{
    justify-content: center;
    color: #F0F0F0;
}

.allTopics {
    display: grid;
    grid-template-columns: auto auto;
}

.allTopics > div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.comenzarJuego > div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}