.questionStructure{
    border-radius: 1em;
    border-width: 1px;
    padding: 1rem;

    /* RGB & HSL params */
    --label-r: 128;
    --label-g: 128;
    --label-b: 128;
    --label-h: 0;
    --label-s: 0;
    --label-l: 50;

    --perceived-lightness: calc( ((var(--label-r) * 0.2126) + (var(--label-g) * 0.7152) + (var(--label-b) * 0.0722)) / 255 );
    --lightness-switch: max(0, min(calc((1/(var(--lightness-threshold) - var(--perceived-lightness)))), 1));
    --lightness-threshold: 0.6;
    --background-alpha: 0.18;
    --border-alpha: 0.3;
    --lighten-by: calc(((var(--lightness-threshold) - var(--perceived-lightness)) * 100) * var(--lightness-switch));
    color: hsl(var(--label-h), calc(var(--label-s) * 1%), calc((var(--label-l) + var(--lighten-by)) * 1%));
    background: rgba(var(--label-r), var(--label-g), var(--label-b), var(--background-alpha));
    border-image: linear-gradient(to bottom, rgba(0, 255, 0,var(--border-alpha)), rgba(0, 0, 255,var(--border-alpha))) 1;
}

.questionStructure h1{
    justify-content: center;
    color: #F0F0F0;
}

.allTopics {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 3em;
}

.allTopics > div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.comenzarJuego > div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    right: 0;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 40px;
    transition: all 0.15s ease-out 0s;
    background: #1a1a1a;
    border: none;
    color: #1a1a1a !important;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
    outline: none;
    position: relative;
    z-index: 1000;
  }
  .option-input:hover {
    background: #9faab7;
  }
  .option-input:checked {
    /* #00ff75 0%, #3700ff  */
    background: #4f651e;
  }
  .option-input:checked::before {
    width: 40px;
    height: 40px;
    display:flex;
    content: '\f00c';
    font-size: 25px;
    font-weight:bold;
    position: absolute;
    align-items:center;
    justify-content:center;
    font-family:'Font Awesome 5 Free', Arial, sans-serif;
  }
  .option-input:checked::after {
    -webkit-animation: click-wave 0.65s;
    -moz-animation: click-wave 0.65s;
    animation: click-wave 0.65s;
    background: #40e0d0;
    content: '';
    display: block;
    position: relative;
    z-index: 100;
  }

  #numPreguntas{
    width: 2rem;
  }

  #config{
    --label-r: 128;
    --label-g: 128;
    --label-b: 128;
    --label-h: 0;
    --label-s: 0;
    --label-l: 50;

    --perceived-lightness: calc( ((var(--label-r) * 0.2126) + (var(--label-g) * 0.7152) + (var(--label-b) * 0.0722)) / 255 );
    --lightness-switch: max(0, min(calc((1/(var(--lightness-threshold) - var(--perceived-lightness)))), 1));
    --lightness-threshold: 0.6;
    --background-alpha: 0.18;
    --border-alpha: 0.3;
    --lighten-by: calc(((var(--lightness-threshold) - var(--perceived-lightness)) * 100) * var(--lightness-switch));
    /* color: hsl(var(--label-h), calc(var(--label-s) * 1%), calc((var(--label-l) + var(--lighten-by)) * 1%)); */
    background: rgba(var(--label-r), var(--label-g), var(--label-b), var(--background-alpha));
    border-color: hsla(var(--label-h), calc(var(--label-s) * 1%), calc((var(--label-l) + var(--lighten-by)) * 1%), var(--border-alpha));
    border-radius: 1em;
    padding: 1%;
    margin-bottom: 10rem;
  }

  #config h2{
    text-align: center;
  }

  #config .configureNumberOfQuestions, #config .configureNumberOfAnswers{
    margin: 1em 0 0 0;
  }

  #config .configureNumberOfQuestions label, #config .configureNumberOfAnswers label{
    font-size: 1.17em;
    font-weight: 700;
  }