version: '3'
services:
  mongodb:
    container_name: mongodb-${teamname:-defaultASW}
    image: mongo
    profiles: ["dev", "prod"]
    volumes:
      - mongodb_data:/data/db
    ports:
      - "27017:27017"
    networks:
      - mynetwork
    restart: always

  mongodb_wiki:
    container_name: mongodb-wiki-${teamname:-defaultASW}
    image: mongo
    profiles: ["dev", "prod"]
    volumes:
      - mongodb_wiki_data:/data/db
    ports:
      - "27018:27017"
    networks:
      - mynetwork
    restart: always

  authservice:
    container_name: authservice-${teamname:-defaultASW}
    image: ghcr.io/arquisoft/wiq_es6c/authservice:latest
    profiles: ["dev", "prod"]
    build: ./users/authservice
    depends_on:
      - mongodb
    ports:
      - "8002:8002"
    networks:
      - mynetwork
    environment:
      MONGODB_URI: mongodb://mongodb:27017/userdb
    restart: always

  userservice:
    container_name: userservice-${teamname:-defaultASW}
    image: ghcr.io/arquisoft/wiq_es6c/userservice:latest
    profiles: ["dev", "prod"]
    build: ./users/userservice
    depends_on:
      - mongodb
    ports:
      - "8001:8001"
    networks:
      - mynetwork
    environment:
      MONGODB_URI: mongodb://mongodb:27017/userdb
    restart: always

  apisgatewayservice:
    container_name: apisgatewayservice-${teamname:-defaultASW}
    image: ghcr.io/arquisoft/wiq_es6c/apisgatewayservice:latest
    profiles: ["dev", "prod"]
    build: ./apisgatewayservice
    depends_on:
      - mongodb
    ports:
      - "8100:8100"
    networks:
      - mynetwork
    environment:
      STORE_QUESTION_SERVICE_URL: http://localhost:8004
      USER_STATS_SERVICE_URL: http://localhost:8003
      USER_SERVICE_URL: http://localhost:8001
    restart: always

  gameservice:
    container_name: gameservice-${teamname:-defaultASW}
    image: ghcr.io/arquisoft/wiq_es6c/gameservice:latest
    profiles: ["dev", "prod"]
    build: ./gameservice
    depends_on:
      - questiongeneratorservice
    ports:
      - "8005:8005"
    networks:
      - mynetwork
    environment:
      QUESTIONS_GENERATOR_SERVICE_URL: http://questiongeneratorservice:8007
      STORE_STATS_SERVICE: http://userstatsservice:8003
    restart: always

  questiongeneratorservice:
    container_name: questiongeneratorservice-${teamname:-defaultASW}
    image: ghcr.io/arquisoft/wiq_es6c/questiongeneratorservice:latest
    profiles: ["dev", "prod"]
    build: 
      context: ./questionsservice
      dockerfile: ./questiongeneratorservice/Dockerfile
    depends_on:
      - mongodb_wiki
      - storequestionservice
    ports:
      - "8007:8007"
    networks:
      - mynetwork
    environment:
      DATAMODELS_URI: './questiondata-model'
      MONGODB_URI: mongodb://mongodb_wiki:27017/questions
      STORE_QUESTION_SERVICE_URL: http://storequestionservice:8004
    restart: always

  wikidataextractorservice:
    container_name: wikidataextractorservice-${teamname:-defaultASW}
    image: ghcr.io/arquisoft/wiq_es6c/wikidataextractorservice:latest
    profiles: ["dev", "prod"]
    build:
      context: ./questionsservice
      dockerfile: ./wikidataExtractor/Dockerfile
    depends_on:
      - mongodb_wiki
    ports:
      - "8008:8008"
    networks:
      - mynetwork
    environment:
      DATAMODELS_URI: './questiondata-model'
      MONGODB_URI: mongodb://mongodb_wiki:27017/questions
    restart: always

  gatewayservice:
    container_name: gatewayservice-${teamname:-defaultASW}
    image: ghcr.io/arquisoft/wiq_es6c/gatewayservice:latest
    profiles: ["dev", "prod"]
    build: ./gatewayservice
    depends_on:
      - mongodb
      - userservice
      - authservice
    ports:
      - "8000:8000"
    networks:
      - mynetwork
    environment:
      AUTH_SERVICE_URL: http://authservice:8002
      USER_SERVICE_URL: http://userservice:8001
      USER_STATS_SERVICE_URL: http://userstatsservice:8003 
      STORE_QUESTION_SERVICE_URL: http://storequestionservice:8004
      QUESTIONS_GENERATOR_SERVICE_URL: http://questiongeneratorservice:8007
      GAME_SERVICE_URL: http://gameservice:8005
    restart: always


  webapp:
    container_name: webapp-${teamname:-defaultASW}
    image: ghcr.io/arquisoft/wiq_es6c/webapp:latest
    profiles: ["dev", "prod"]
    build: ./webapp
    depends_on:
      - gatewayservice
    ports:
      - "3000:3000" 
    restart: always

  prometheus:
    image: prom/prometheus
    container_name: prometheus-${teamname:-defaultASW}
    profiles: ["dev", "prod"]
    networks:
      - mynetwork
    volumes:
      - ./gatewayservice/monitoring/prometheus:/etc/prometheus
      - prometheus_data:/prometheus
    ports:
      - "9090:9090"
    depends_on: 
      - gatewayservice
      
  grafana:
    image: grafana/grafana
    container_name: grafana-${teamname:-defaultASW}
    profiles: ["dev", "prod"]
    networks:
      - mynetwork
    volumes:
      - grafana_data:/var/lib/grafana
      - ./gatewayservice/monitoring/grafana/provisioning:/etc/grafana/provisioning
    environment:
      - GF_SERVER_HTTP_PORT=9091
      - GF_AUTH_DISABLE_LOGIN_FORM=true
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
    ports:
      - "9091:9091"
    depends_on: 
      - prometheus

  storequestionservice:
    container_name: storequestion-${teamname:-defaultASW}
    image: ghcr.io/arquisoft/wiq_es6c/storequestionservice:latest
    profiles: ["dev", "prod"]
    build: ./storequestionservice
    depends_on:
      - mongodb
    ports:
      - "8004:8004"
    networks:
      - mynetwork
    environment:
      MONGODB_URI: mongodb://mongodb:27017/storedquestion
    restart: always

  userstatsservice:
    container_name: userstats-${teamname:-defaultASW}
    image: ghcr.io/arquisoft/wiq_es6c/userstatsservice:latest
    profiles: ["dev", "prod"]
    build: ./userstatsservice
    depends_on:
      - mongodb
    ports:
      - "8003:8003"
    networks:
      - mynetwork
    environment:
      MONGODB_URI: mongodb://mongodb:27017/statsdb
    restart: always


volumes:
  mongodb_data:
  mongodb_wiki_data:
  prometheus_data: 
  grafana_data: 

networks:
  mynetwork:
    driver: bridge
