nav {
    background-color: #1c57c4; 
    color: #fff; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
  
.logo img {
    max-width: 100px; 
}
  
.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
}
  
.nav-links li {
    margin-right: 5%;
}
  
.nav-links li:last-child {
    margin-right: 0%;
}
  
.nav-links a {
    text-decoration: none;
    color: #fff;
}
  
.nav-links button {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
}
  
.nav-links button:hover {
    text-decoration: underline;
}
  
.nav-links {
    margin-left: auto; 
}