/* Right Answers */
/*{
    /* RGB & HSL params *//*
    --label-r: 0;
    --label-g: 255;
    --label-b: 0;
    --label-h: 120;
    --label-s: 100;
    --label-l: 50;

    --perceived-lightness: calc( ((var(--label-r) * 0.2126) + (var(--label-g) * 0.7152) + (var(--label-b) * 0.0722)) / 255 );
    --lightness-switch: max(0, min(calc((1/(var(--lightness-threshold) - var(--perceived-lightness)))), 1));
    --lightness-threshold: 0.6;
    --background-alpha: 0.18;
    --border-alpha: 0.3;
    --lighten-by: calc(((var(--lightness-threshold) - var(--perceived-lightness)) * 100) * var(--lightness-switch));
    color: hsl(var(--label-h), calc(var(--label-s) * 1%), calc((var(--label-l) + var(--lighten-by)) * 1%));
    background: rgba(var(--label-r), var(--label-g), var(--label-b), var(--background-alpha));
    border-color: hsla(var(--label-h), calc(var(--label-s) * 1%), calc((var(--label-l) + var(--lighten-by)) * 1%), var(--border-alpha));
}*/

/* Wrong Answers */
/*{
    /* RGB & HSL params *//*
    --label-r: 255;
    --label-g: 0;
    --label-b: 0;
    --label-h: 0;
    --label-s: 100;
    --label-l: 50;

    --perceived-lightness: calc( ((var(--label-r) * 0.2126) + (var(--label-g) * 0.7152) + (var(--label-b) * 0.0722)) / 255 );
    --lightness-switch: max(0, min(calc((1/(var(--lightness-threshold) - var(--perceived-lightness)))), 1));
    --lightness-threshold: 0.6;
    --background-alpha: 0.18;
    --border-alpha: 0.3;
    --lighten-by: calc(((var(--lightness-threshold) - var(--perceived-lightness)) * 100) * var(--lightness-switch));
    color: hsl(var(--label-h), calc(var(--label-s) * 1%), calc((var(--label-l) + var(--lighten-by)) * 1%));
    background: rgba(var(--label-r), var(--label-g), var(--label-b), var(--background-alpha));
    border-color: hsla(var(--label-h), calc(var(--label-s) * 1%), calc((var(--label-l) + var(--lighten-by)) * 1%), var(--border-alpha));
}*/

.question{
    /* RGB & HSL params */
    --label-r: 128;
    --label-g: 128;
    --label-b: 128;
    --label-h: 0;
    --label-s: 0;
    --label-l: 50;

    --perceived-lightness: calc( ((var(--label-r) * 0.2126) + (var(--label-g) * 0.7152) + (var(--label-b) * 0.0722)) / 255 );
    --lightness-switch: max(0, min(calc((1/(var(--lightness-threshold) - var(--perceived-lightness)))), 1));
    --lightness-threshold: 0.6;
    --background-alpha: 0.18;
    --border-alpha: 0.3;
    --lighten-by: calc(((var(--lightness-threshold) - var(--perceived-lightness)) * 100) * var(--lightness-switch));
    color: hsl(var(--label-h), calc(var(--label-s) * 1%), calc((var(--label-l) + var(--lighten-by)) * 1%));
    background: rgba(var(--label-r), var(--label-g), var(--label-b), var(--background-alpha));
    border-color: hsla(var(--label-h), calc(var(--label-s) * 1%), calc((var(--label-l) + var(--lighten-by)) * 1%), var(--border-alpha));
    border-radius: 3%;

    height: max-content;
    margin-bottom: 1%;
}

.dropdown{
    /* RGB & HSL params */
    --label-r: 128;
    --label-g: 128;
    --label-b: 128;
    --label-h: 0;
    --label-s: 0;
    --label-l: 50;

    --perceived-lightness: calc( ((var(--label-r) * 0.2126) + (var(--label-g) * 0.7152) + (var(--label-b) * 0.0722)) / 255 );
    --lightness-switch: max(0, min(calc((1/(var(--lightness-threshold) - var(--perceived-lightness)))), 1));
    --lightness-threshold: 0.6;
    --background-alpha: 0.18;
    --border-alpha: 0.3;
    --lighten-by: calc(((var(--lightness-threshold) - var(--perceived-lightness)) * 100) * var(--lightness-switch));
    color: hsl(var(--label-h), calc(var(--label-s) * 1%), calc((var(--label-l) + var(--lighten-by)) * 1%));
    background: rgba(var(--label-r), var(--label-g), var(--label-b), var(--background-alpha));
    border-color: hsla(var(--label-h), calc(var(--label-s) * 1%), calc((var(--label-l) + var(--lighten-by)) * 1%), var(--border-alpha));
    border-radius: 3%;

    padding: 1%;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
}

body{
    background-color: #fff;
}

.question .grid p{
    width: max-content;
    border-style: dashed;
    border-radius: 15%;
    border-width: 1px;
    padding: 1rem;

    /* RGB & HSL params */
    --label-r: 128;
    --label-g: 128;
    --label-b: 128;
    --label-h: 0;
    --label-s: 0;
    --label-l: 50;

    --perceived-lightness: calc( ((var(--label-r) * 0.2126) + (var(--label-g) * 0.7152) + (var(--label-b) * 0.0722)) / 255 );
    --lightness-switch: max(0, min(calc((1/(var(--lightness-threshold) - var(--perceived-lightness)))), 1));
    --lightness-threshold: 0.6;
    --background-alpha: 0.18;
    --border-alpha: 0.3;
    --lighten-by: calc(((var(--lightness-threshold) - var(--perceived-lightness)) * 100) * var(--lightness-switch));
    color: hsl(var(--label-h), calc(var(--label-s) * 1%), calc((var(--label-l) + var(--lighten-by)) * 1%));
    background: rgba(var(--label-r), var(--label-g), var(--label-b), var(--background-alpha));
    border-color: hsla(var(--label-h), calc(var(--label-s) * 1%), calc((var(--label-l) + var(--lighten-by)) * 1%), var(--border-alpha));
}

.question .grid{
    display: grid;
    grid-template-columns: auto auto;
    padding: 1%;
}

#root main{
    display: grid;
    /* Option 1 */
    /*grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));*/
    /* Option 2 */
    
    grid-template-columns: repeat(auto-fit, minmax(80%, 1fr));
    /*width: 60%;
    margin-left: 20%;*/
    
    padding: 1%;
    grid-gap: 10px;
}

.question .grid .right{
    --label-r: 0;
    --label-g: 255;
    --label-b: 0;
    --label-h: 120;
    --label-s: 50;
    --label-l: 50;

    --perceived-lightness: calc( ((var(--label-r) * 0.2126) + (var(--label-g) * 0.7152) + (var(--label-b) * 0.0722)) / 255 );
    --lightness-switch: max(0, min(calc((1/(var(--lightness-threshold) - var(--perceived-lightness)))), 1));
    --lightness-threshold: 0.6;
    --background-alpha: 0.18;
    --border-alpha: 0.3;
    --lighten-by: calc(((var(--lightness-threshold) - var(--perceived-lightness)) * 100) * var(--lightness-switch));
    color: hsl(var(--label-h), calc(var(--label-s) * 1%), calc((var(--label-l) + var(--lighten-by)) * 1%));
    background: rgba(var(--label-r), var(--label-g), var(--label-b), var(--background-alpha));
    border-color: hsla(var(--label-h), calc(var(--label-s) * 1%), calc((var(--label-l) + var(--lighten-by)) * 1%), var(--border-alpha));
}

.question .grid .choice{
    --label-r: 255;
    --label-g: 128;
    --label-b: 0;
    --label-h: 30;
    --label-s: 100;
    --label-l: 50;

    --perceived-lightness: calc( ((var(--label-r) * 0.2126) + (var(--label-g) * 0.7152) + (var(--label-b) * 0.0722)) / 255 );
    --lightness-switch: max(0, min(calc((1/(var(--lightness-threshold) - var(--perceived-lightness)))), 1));
    --lightness-threshold: 0.6;
    --background-alpha: 0.18;
    --border-alpha: 0.3;
    --lighten-by: calc(((var(--lightness-threshold) - var(--perceived-lightness)) * 100) * var(--lightness-switch));
    color: hsl(var(--label-h), calc(var(--label-s) * 1%), calc((var(--label-l) + var(--lighten-by)) * 1%));
    background: rgba(var(--label-r), var(--label-g), var(--label-b), var(--background-alpha));
    border-color: hsla(var(--label-h), calc(var(--label-s) * 1%), calc((var(--label-l) + var(--lighten-by)) * 1%), var(--border-alpha));
}

.dropdown-content{
    position: flex;
    flex-direction: column;
    /*Quiero meter un gap*/
}

.game{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
    gap: 1%;
}