/* Right Answers */
/*{
    /* RGB & HSL params */
/*
    --label-r: 0;
    --label-g: 255;
    --label-b: 0;
    --label-h: 120;
    --label-s: 100;
    --label-l: 50;

    --perceived-lightness: calc( ((var(--label-r) * 0.2126) + (var(--label-g) * 0.7152) + (var(--label-b) * 0.0722)) / 255 );
    --lightness-switch: max(0, min(calc((1/(var(--lightness-threshold) - var(--perceived-lightness)))), 1));
    --lightness-threshold: 0.6;
    --background-alpha: 0.18;
    --border-alpha: 0.3;
    --lighten-by: calc(((var(--lightness-threshold) - var(--perceived-lightness)) * 100) * var(--lightness-switch));
    color: hsl(var(--label-h), calc(var(--label-s) * 1%), calc((var(--label-l) + var(--lighten-by)) * 1%));
    background: rgba(var(--label-r), var(--label-g), var(--label-b), var(--background-alpha));
    border-color: hsla(var(--label-h), calc(var(--label-s) * 1%), calc((var(--label-l) + var(--lighten-by)) * 1%), var(--border-alpha));
}*/

/* Wrong Answers */
/*{
    /* RGB & HSL params */
/*
    --label-r: 255;
    --label-g: 0;
    --label-b: 0;
    --label-h: 0;
    --label-s: 100;
    --label-l: 50;

    --perceived-lightness: calc( ((var(--label-r) * 0.2126) + (var(--label-g) * 0.7152) + (var(--label-b) * 0.0722)) / 255 );
    --lightness-switch: max(0, min(calc((1/(var(--lightness-threshold) - var(--perceived-lightness)))), 1));
    --lightness-threshold: 0.6;
    --background-alpha: 0.18;
    --border-alpha: 0.3;
    --lighten-by: calc(((var(--lightness-threshold) - var(--perceived-lightness)) * 100) * var(--lightness-switch));
    color: hsl(var(--label-h), calc(var(--label-s) * 1%), calc((var(--label-l) + var(--lighten-by)) * 1%));
    background: rgba(var(--label-r), var(--label-g), var(--label-b), var(--background-alpha));
    border-color: hsla(var(--label-h), calc(var(--label-s) * 1%), calc((var(--label-l) + var(--lighten-by)) * 1%), var(--border-alpha));
}*/

body {
    background-color: #212121;
    color: #F0F0F0
}

#storeQuestion .question .grid {
    display: grid;
    grid-template-columns: auto auto;
}

#storeQuestion main {
    display: grid;
    grid-template-columns: auto auto;
}

#storeQuestion h2, #storeQuestion h3{
    width: 100%;
    text-align: center;
}

#storeQuestion main{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
    padding: 5px;
    grid-gap: 10px;
}

#storeQuestion .container{
    display: flex;
    justify-content: center;
}

#storeQuestion .container.footer{
    display: flex;
    justify-content: right;
    margin-right: 1em;
}

#storeQuestion .question .grid p{
    width: 100%;
    border-style: dashed;
    border-radius: 1em;
    border-width: 1px;
    padding: 1rem;

    /* RGB & HSL params */
    --label-r: 128;
    --label-g: 128;
    --label-b: 128;
    --label-h: 0;
    --label-s: 0;
    --label-l: 50;

    --perceived-lightness: calc( ((var(--label-r) * 0.2126) + (var(--label-g) * 0.7152) + (var(--label-b) * 0.0722)) / 255 );
    --lightness-switch: max(0, min(calc((1/(var(--lightness-threshold) - var(--perceived-lightness)))), 1));
    --lightness-threshold: 0.6;
    --background-alpha: 0.18;
    --border-alpha: 0.3;
    --lighten-by: calc(((var(--lightness-threshold) - var(--perceived-lightness)) * 100) * var(--lightness-switch));
    color: hsl(var(--label-h), calc(var(--label-s) * 1%), calc((var(--label-l) + var(--lighten-by)) * 1%));
    background: rgba(var(--label-r), var(--label-g), var(--label-b), var(--background-alpha));
    border-color: hsla(var(--label-h), calc(var(--label-s) * 1%), calc((var(--label-l) + var(--lighten-by)) * 1%), var(--border-alpha));
}

#storeQuestion .question .grid p.right{
    border-style: dashed;
    border-width: 1px;
    padding: 1rem;

    /* RGB & HSL params */
    --label-r: 0;
    --label-g: 255;
    --label-b: 0;
    --label-h: 120;
    --label-s: 50;
    --label-l: 50;

    --perceived-lightness: calc( ((var(--label-r) * 0.2126) + (var(--label-g) * 0.7152) + (var(--label-b) * 0.0722)) / 255 );
    --lightness-switch: max(0, min(calc((1/(var(--lightness-threshold) - var(--perceived-lightness)))), 1));
    --lightness-threshold: 0.6;
    --background-alpha: 0.18;
    --border-alpha: 0.3;
    --lighten-by: calc(((var(--lightness-threshold) - var(--perceived-lightness)) * 100) * var(--lightness-switch));
    color: hsl(var(--label-h), calc(var(--label-s) * 1%), calc((var(--label-l) + var(--lighten-by)) * 1%));
    background: rgba(var(--label-r), var(--label-g), var(--label-b), var(--background-alpha));
    border-color: hsla(var(--label-h), calc(var(--label-s) * 1%), calc((var(--label-l) + var(--lighten-by)) * 1%), var(--border-alpha));
}

#storeQuestion .question .grid{
    display: grid;
    grid-template-columns: auto auto;
    padding: 5px;
    column-gap: 1vw;
}

#storeQuestion h2{
    width: 100%;
    text-align: center;
}

#storeQuestion h3{
    text-align: center;
}

#storeQuestion .container{
    display: flex;
    justify-content: center;
}

#storeQuestion .container.footer{
    display: flex;
    justify-content: right;
    margin-right: 1em;
}

#storeQuestion .border{
    margin: 1em;
}

.pagination{
    display: flex;
    justify-content: center;
}

@media (max-width: 880px) {
    #storeQuestion .grid{
        display: grid;
        grid-template-columns: repeat(1, minmax(40%, 1fr));
    }
}

@media (max-width: 680px) {
    .pagination{
        display: ruby;
    }
}

@media (max-width: 410px) {
    #storeQuestion .grid .grid{
        display: flex;
        align-items: stretch;
        flex-direction: column;
    }
}